<div class="error">
  <label>{{error}}  </label>
  <a><i class="fa-solid fa-exclamation"></i></a>
  <a><i class="fa-solid fa-bomb"></i></a>
  <a><i class="fa-solid fa-triangle-exclamation"></i></a>
</div>