<div class="topnav">
  <a href="/books" id="topnav_books">Livros</a>
  <a href="/rent"  id="topnav_rent" >Aluguel</a>
  <a href="/home"  id="topnav_home" >Minha Área</a>
  <a href="/" class="sair">
    <i class="fa-solid fa-person-walking-arrow-right"></i>
  </a>
</div>