<header>
  <h1>Meus Aluguéis</h1>
</header>
<table>
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Nome</th>
      <th>Entrega</th>
      <th class="th_remove">
        <a>
          <i class="fa-regular fa-trash-can"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each rents}}
      <tr>
        <td>{{isbn}}</td>
        <td>{{name}}</td>
        <td>{{end_date}}</td>
        <td>
          <form method="post" action="/delete/rent" >
            <input type="hidden" id="isbn" name="isbn" value="{{isbn}}"/>
            <button type="submit" class="remove">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>