<header>
  <h1>Meus Aluguéis</h1>
</header>
<table>
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Nome</th>
      <th>Entrega</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each rents}}
      <tr>
        <td>{{isbn}}</td>
        <td>{{name}}</td>
        <td>{{end_date}}</td>
        <td>
          <a class="remove" href="/rent/end?isbn={{isbn}}">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>